.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  width: 100%;
  max-width: 600px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #5f6982;
}

.uploader label {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: #fff;
  border-radius: 7px;
  border: 3px dashed #ccc;
  transition: all .2s ease;
  user-select: none;
}

.uploader label:hover {
  border-color: #454cad;
}

.uploader label.hover {
  border-color: #454cad;
  box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #file-icon {
  opacity: 0.3;
}

.uploader label span {
  display: block;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 600;
  color: #454cad;
}

.uploader input[type="file"] {
  display: none;
}

.uploader #file-icon {
  display: block;
  margin: 0 auto;
  font-size: 5rem;
  color: #ccc;
  transition: all .2s ease;
}

.uploader #file-upload:focus+#file-drag {
  outline: 2px solid #454cad;
}

.uploader #file-upload+#file-drag:hover {
  background: #f8f8f8;
}

.uploader #file-upload+#file-drag.hover {
  background: #f8f8f8;
}

.uploader #file-upload+#file-drag.hover #file-icon {
  opacity: 0.3;
}
