<app-navbar></app-navbar>
<div class="progress" *ngIf="cargar">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100"
    style="width: 100%"></div>
</div>
<div class="card">
  <p-table [value]="clientes" [paginator]="true" [rows]="sizePage" [lazy]="true" [totalRecords]="totalElements"
    [showCurrentPageReport]="true" (onPage)=onPageChange($event)
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[1,2,3,5, 10, 25, 50]">
    <ng-template pTemplate="header">
      <tr>
        <th>Dpi</th>
        <th>Nombre</th>
        <th>Primer Apellido</th>
        <th>Segundo Apellido</th>
        <th>Clase Via</th>
        <th>Nombre Via</th>
        <th>Número Via</th>
        <th>Código Postal</th>
        <th>Ciudad</th>
        <th>Teléfono</th>
        <th>Observaciones</th>
        <th>Seguros</th>
        <th>Eliminar y actualizar</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td>{{ cliente.dpiCliente }}</td>
        <td>{{cliente.nombreCL}}</td>
        <td>{{cliente.apellido1}}</td>
        <td>{{cliente.apellido2}}</td>
        <td>{{cliente.claseVia}}</td>
        <td>{{cliente.nombreVia}}</td>
        <td>{{cliente.numeroVia}}</td>
        <td>{{cliente.codPostal}}</td>
        <td>{{cliente.ciudad}}</td>
        <td>{{cliente.telefono}}</td>
        <td>{{cliente.observaciones}}</td>
        <td>
          <ul *ngFor="let seguro of cliente.seguroslist">
            <li>Numero poliza: {{ seguro.numeroPoliza }}</li>
            <li>Ramo:{{ seguro.ramo }}</li>
            <li>Fecha Inicio: {{ seguro.fechaInicio | date:'shortDate'}}</li>
            <li>Fecha Vencimiento: {{ seguro.fechaVencimiento | date:'shortDate' }}</li>
          </ul>
        </td>
        <td scope="row">
          <button type="button" class="btn btn-danger" (click)="eliminar(cliente)">
            Eliminar
          </button>
          <br />
          &nbsp;
          <br>
          <button type="button" class="btn btn-warning" (click)="actualizar(cliente)">
            Actualizar
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>